themes {
  catppuccin-macchiato {
	  bg "#5b6078"
	  fg "#cad3f5"
	  red "#ed8796"
	  green "#c6a0f6"
	  blue "#8aadf4"
	  yellow "#eed49f"
	  magenta "#f5bde6"
	  orange "#f5a97f"
	  cyan "#91d7e3"
	  black "#1e2030"
	  white "#cad3f5"
  }

  catppuccin-mocha {
    bg "#585b70" // Surface2
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" //  Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#181825" // Mantle
    white "#cdd6f4"
  }
}
