layout {
  cwd "/home/serranomorante/.config"
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:/home/serranomorante/.config/zellij/plugins/zjstatus.wasm" {
        format_left  "{mode}#[fg=#ffffff,bg=#232136]{tabs}"
        format_right "#[fg=#ffffff,bg=#232136,bold] [{session}  ] #[fg=#030303,bg=#fda47f]{swap_layout}"
        format_space "#[bg=#232136]"

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#ffffff]{char}"
        border_position "top"

        tab_normal              "#[fg=#254147,bg=#232136]|#[bg=#232136] {name} #[fg=#254147,bg=#232136]|"
        tab_normal_fullscreen   "#[fg=#254147,bg=#232136]|#[bg=#232136] {name} #[fg=#c9826b,bg=#232136] #[fg=#254147,bg=#232136]|"
        tab_normal_sync         "#[fg=#254147,bg=#232136]|#[bg=#232136] {name} #[fg=#c9826b,bg=#232136] #[fg=#254147,bg=#232136]|"

        tab_active              "#[fg=#cbd9d8,bg=#ffffff]|#[fg=0,bg=#ffffff,bold] {name}* #[fg=#cbd9d8,bg=#ffffff]|"
        tab_active_fullscreen   "#[fg=#cbd9d8,bg=#ffffff]|#[fg=0,bg=#ffffff,bold] {name}* #[fg=#c9826b,bg=#ffffff] #[fg=#cbd9d8,bg=#ffffff]|"
        tab_active_sync         "#[fg=#cbd9d8,bg=#ffffff]|#[fg=0,bg=#ffffff,bold] {name}* #[fg=#c9826b,bg=#ffffff] #[fg=#cbd9d8,bg=#ffffff]|"

        mode_normal        "#[bg=#232136] ZELLIJ  "
        mode_locked        "#[fg=#ff8349,bg=#232136] LOCKED   "
        mode_resize        "#[fg=#ff8349,bg=#232136] RESIZE   "
        mode_pane          "#[fg=#ff8349,bg=#232136] PANE     "
        mode_tab           "#[fg=#ff8349,bg=#232136] TAB      "
        mode_scroll        "#[fg=#ff8349,bg=#232136] SCROLL   "
        mode_enter_search  "#[fg=#ff8349,bg=#232136] /        "
        mode_search        "#[fg=#ff8349,bg=#232136] SEARCH   "
        mode_rename_tab    "#[fg=#ff8349,bg=#232136] RENAME   "
        mode_rename_pane   "#[fg=#ff8349,bg=#232136] RENAME   "
        mode_session       "#[fg=#ff8349,bg=#232136] SESSION  "
        mode_move          "#[fg=#ff8349,bg=#232136] MOVE     "
        mode_prompt        "#[fg=#ff8349,bg=#232136] PROMPT   "
        mode_tmux          "#[fg=#ff8349,bg=#232136] TMUX     "
      }
    }
  }
  tab name=" foam" cwd="/home/serranomorante/Notes/foam" {
    pane name="editor"
  }
  tab name="pipewire" {
    pane split_direction="horizontal" {
      pane name=".pipewire" cwd="pipewire"
      pane name="/usr/share/pipewire" cwd="/usr/share/pipewire"
      pane name="repos/pipewire_config" cwd="/home/serranomorante/repos/pipewire_config"
      pane
    }
  }
  tab name="wireplumber" {
    pane split_direction="horizontal" {
      pane name=".wireplumber" cwd="wireplumber"
      pane name="/usr/share/wireplumber" cwd="/usr/share/wireplumber"
      pane name="repos/wireplumber_config" cwd="/home/serranomorante/repos/wireplumber_config"
      pane
    }
  }
}
