layout {
  cwd "/home/serranomorante/.config"
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="file:/home/serranomorante/.config/zellij/plugins/zjstatus.wasm" {
        format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
        format_right "{swap_layout}"
        format_space ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        mode_normal  "#[bg=blue] "
        mode_tmux    "#[bg=#ffc387] "

        tab_normal              "#[fg=#6C7086] {name} "
        tab_normal_fullscreen   "#[fg=#6C7086] {name}  "
        tab_normal_sync         "#[fg=#6C7086] {name}  "

        tab_active              "#[fg=#9399B2,bold,italic] {name} "
        tab_active_fullscreen   "#[fg=#9399B2,bold,italic] {name}  "
        tab_active_sync         "#[fg=#9399B2,bold,italic] {name}  "

        mode_normal        " {name} "
        mode_locked        " {name} "
        mode_resize        " {name} "
        mode_pane          " {name} "
        mode_tab           " {name} "
        mode_scroll        " {name} "
        mode_enter_search  " {name} "
        mode_search        " {name} "
        mode_rename_tab    " {name} "
        mode_rename_pane   " {name} "
        mode_session       " {name} "
        mode_move          " {name} "
        mode_prompt        " {name} "
        mode_tmux          " {name} "
      }
    }
  }
  tab name=" vim" {
    pane split_direction="horizontal" stacked=true {
      pane name="vim" cwd="nvim" command="fish" // edit="."
      pane name="astronvim" cwd="/home/serranomorante/repos/AstroNvim" command="fish" // edit="."
      pane name="lunarvim" cwd="/home/serranomorante/repos/LunarVim" command="fish" // edit="."
      pane name="chain_nvim_config" cwd="/home/serranomorante/repos/chaitan-nvim-config" command="fish" // edit="."
    }
  }
  tab name=" terminal" {
    pane split_direction="horizontal" stacked=true {
      pane name="zellij" cwd="zellij" command="fish" // edit="."
      pane name="fish" cwd="fish" command="fish" // edit="."
      pane name="kitty" cwd="kitty" command="fish" // edit="."
      pane name=".bashrc" edit="/home/serranomorante/.bashrc"
    }
  }
  tab name="X" {
    pane split_direction="horizontal" stacked=true {
      pane name="keyd conf" cwd="/etc/keyd" command="fish" // edit="."
      pane name="keyd compose" cwd="/usr/share/keyd" edit="keyd.compose"
      pane name="XCompose" cwd="/home/serranomorante" edit=".XCompose"
      pane name="Xresources" cwd="/home/serranomorante" edit=".Xresources"
    }
  }
  tab name=" workspace" {
    pane split_direction="horizontal" stacked=true {
      pane name="i3" cwd="i3" command="fish"
      pane name="autorandr" cwd="autorandr" command="fish"
    }
  }
  tab name=" foam" cwd="/home/serranomorante/Notes/foam" {
    pane name="notes" command="fish" // edit="."
  }
}
