layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  tab name=" foam" cwd="/home/serranomorante/Notes/foam" {
    pane name="notes" command="fish" // edit="."
  }
  tab {
    pane
  }
}
